.featured-projects-container {
    margin-bottom: 10px;
}

.featured-project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.featured-project-img {
    width: 300px;
}

.text-box {
    max-width: 300px;
}

.text-box p {
    font-size: .8em;
}
.overlay-card {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
background-color: rgba(0, 0, 0, 0.6);
transition: 0.5s ease;
}

.text-overlay {
    position: absolute;
    opacity: 0;
}

.overlay-card:hover {
    opacity: 1;
}

.featured-project-card:hover .text-overlay {
    opacity: 1;
    transition: 0.5s ease;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;

}

.tags p{
    background-color: rgb(98, 71, 148);
    color: white;
    padding: 3px;
    margin: 10px 5px 5px 2px;
    font-size: .8em;
    font-weight: 500;
}