* {
    margin: 0;
    border: 0;
    color: rgb(58, 58, 58);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    line-height: 1.5
}

body {
    background-color: rgb(238, 238, 238);
}

main, .flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section {
    margin: 10px 5px 20px 5px;
}

.section--h3 {
    display: inline-block;
    margin: 0 auto 20px auto;
}

a {
    text-decoration: none;
}

h3 {
    color: white;
    padding: 5px;
    background-color: rgb(63, 50, 88);
    text-transform: uppercase;
    margin-top: 10px;
}

h4 {
    color: white;
    text-transform: uppercase;
}

h5 {
    font-size: 1em;
    text-transform: uppercase;
}

h5 span {
    text-transform: none;
    font-weight: 400;
}

h6 {
    font-size: 1em;
}


.to-center:nth-of-type(2n) {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

@media (min-width: 900px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.2em;
    }
}