* {
    margin: 0;
    border: 0;
    color: rgb(58, 58, 58);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    line-height: 1.5
}

body {
    background-color: rgb(238, 238, 238);
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section {
    margin: 10px 5px 20px 5px;
}

h3 {
    color: white;
    padding: 5px;
    background-color: rgb(63, 50, 88);
}

h4 {
    color: white;
}

h5 {
    font-size: 1em;
}
.to-center:nth-of-type(2n) {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}