header {
    display: flex;
    flex-direction: column;
    background-image: url('/public/images/header-bg.svg');
    background-size: 500px;
    background-repeat:repeat-x;
    width: 100vw;
}

.header__linked-icons {
    gap: 5px;
    height: 50px;
    margin: 20px 20px 5px auto;
}

.header__linked-icons img{
    width: 50px;
    height: 50px;
    order: 2;
}

.header__text {
    margin: 60px auto 0 auto;
    line-height: 1.5;
}

.header__profile-pic__container {
    margin-left: auto;
    padding-right: 80px;
}
.header__profile-picture--picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 1em;
}
h2 {
    font-size: 2em;
}


.header__linked-icons img{
    animation: animation 2s;
}


@keyframes animation {
    from {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1);
    }

    75% {
        transform: scale(1.05, 0.9);
       }
    to {
        transform: scale(1, 1)
    }
}
@media (min-width: 600px) {
    header {
        background-size: 1500px;
    }

    .header__linked-icons {
        margin: 50px 20vw 5px auto;
    }

    .header__linked-icons img {
        margin: 5px;
    }
    
    .header__text {
        margin: 80px 50vw 0 auto;
    }
    
    .header__profile-pic__container {
        padding-right: 30vw;
    }
    .header__profile-picture--picture {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 900px) {
    header {
        background-size: 1800px;
        height: 480px;
    }

    .header__linked-icons {
        margin: 50px 20vw 5px auto;
    }

    .header__linked-icons img {
        margin: 5px;
    }
    
    .header__text {
        margin: 80px 50vw 0 auto;
    }
    
    .header__profile-pic__container {
        padding-right: 30vw;
    }
    .header__profile-picture--picture {
        width: 180px;
        height: 180px;
    }

}