.start-figure-img {
    width: 30px;
    margin: 0 3px 0 3px;
}

.intro__card p {
 font-size: 1em;
 text-align: center;
}


@media (min-width: 700px) {
   .intro__card {
       padding: 20px;
       margin-top: 40px;
   }
   .intro__card p {
    text-align: center;
    font-size: 1.2em;
   }
}